*{
	box-sizing: border-box;
}

h1{
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}
.row{
	width: 100%;
}

.container{
	position: relative;
	width: 95%;
	margin-right: auto;
	margin-left: auto;	
	background-color: gray;
	border: 1px solid black;
}

.spec{
	font-size: 1.5em;
	margin-top: 0px;
	border: 1px solid black;
	text-align: center;
	font-weight: 700;
	padding-top: 9px;
	float: right;
	width: 120px;
	height: 50px;
}

.text{
	padding: 0px 10px 0px 10px;
	clear: both;
}

#e1{
	background-color: pink;
}

#e2{
	background-color: red;
}

#e3{
	background-color: yellow;
}


@media (min-width: 992px) {
	.col-lg-4{
		float: left;
		width: 33%;
		margin-bottom: 20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6,.col-md-12{
		float: left;
		margin-bottom: 20px;
	}

	.col-md-6{
		width: 50%;
	}

	.col-md-12{
		width: 100%;
	}

	#a1{
		width: 98%;
	}
}

@media (max-width: 767px) {
	.col-sm-12{
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}
}